:root
	font-size: 16px

*
	font-family: "Open Sans", sans-serif

*[hidden]
	display: none !important

body
	color: black
	background: white
	margin: 1em

button
	height: 2em

.tab-content
	display: none
	flex-direction: column
	background: lightgrey
	padding: 0.5em

.tab
	background: grey
	color: inherit

.selected
	background: lightgrey

.countdown
	display: flex
	flex-direction: column
	max-width: 48ch

	margin: 1em
	border: 2px black solid
	padding: 1em

.countdown-header
	display: flex
	align-items: center
	justify-content: space-between
	flex-wrap: nowrap
	height: 2.25em

	> *
		display: inline-block

.title-span
	flex-grow: 0.75
	flex-basis: 50%
	
.title-edit
	height: 1em
	font-size: 1.5em
	font-weight: 600
	width: 100%

.buttons
	text-align: right
	flex-shrink: 0
	> * + *
		margin-left: 0.5em

.edit
	width: 7ch

.delete
	width: 10ch

// The countdown bit.
span[data-end]
	margin: 1em 0
	font-family: "JetBrains Mono", monospace

.footer
	height: 1.25em

	> input
		height: 1em
		font-size: 1em
