@import "reset"
@import "colors"

$timer-border-width: 0.5ch

:root
	font-size: 16px

*
	font-family: "Open Sans", sans-serif

*[hidden]
	display: none !important

a
	color: inherit

body
	background: var(--bg-1)
	color: var(--fg)
	margin: 1em

button
	background: var(--bg-2)
	color: var(--fg)
	position: relative
	border: none

button::after
	content: ""
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%

button:hover::after
	background: #0001

button:active::after
	background: #0003

input
	background: var(--bg-3)
	color: var(--fg)
	border: 1px var(--gr) solid

input[type=number]
	width: 4ch

input:active
	border: 1px var(--gr) solid

input.invalid
	border-color: var(--red)

// Tabs
.tabbed
	margin: 1em 0
	display: block

.tab
	background: var(--bg-2)
	color: var(--fg)
	padding: 0.5ch
	z-index: -99

.tab-content
	display: none
	flex-direction: column
	background: var(--bg-3)
	color: var(--fg)
	padding: 1em
	margin-top: 0.75ch

	max-width: 72ch

	scroll-margin-top: 2em
	// Non-standard name for Safari 11-14 https://caniuse.com/mdn-css_properties_scroll-margin
	scroll-snap-margin-top: 2em

.tab-select
	line-height: 1

.selected
	background: var(--bg-3)
	color: var(--fg)

/* STUFF ABOUT THE COUNTDOWNS
	MULTILINE COMMENT AS HEADER WOO
		NOTICE ME */

// Countdowns containing div
#countdowns
	display: flex
	flex-direction: row
	flex-wrap: wrap

// The countdown block
.countdown
	display: flex
	position: relative
	flex-direction: column
	min-width: 48ch
	max-width: 100%
	background: var(--bg)

	flex-grow: 1
	flex-shrink: 0

	@media (min-width: 800px)
		flex-grow: 0
		max-width: 45vw

	margin: 1em
	padding: 1em

	--progress: 0%

	&::before, &::after
		position: absolute
		content: ""
		top: 0
		left: 0
		width: 100%
		height: 100%
		border: $timer-border-width solid

		// To prevent edit inputs from being unselectable.
		pointer-events: none

	&::before
		border-color: var(--bg-3)


	&::after
		border-image-source: linear-gradient(135deg, var(--blu), var(--mgn))
		border-image-slice: 1

		// Gradient gradually fades in
		// For Firefox...
		mask-image: linear-gradient(90deg, #fff, #fff var(--progress), #fff0, var(--progress) #fff0)
		// For other browsers. 
		-webkit-mask-image: linear-gradient(90deg, #fff, #fff var(--progress), #fff0 var(--progress), #fff0)
		// See https://developer.mozilla.org/en-US/docs/web/css/mask-image#browser_compatibility

.countdown-header
	display: flex
	align-items: center
	justify-content: space-between
	flex-wrap: nowrap
	height: 2.25em

	> *
		display: inline-block

.title-span
	flex-grow: 0.75
	flex-basis: 50%
	overflow-x: clip
	margin-left: -0.25ch
	
.title-edit
	font-size: 1.5em
	font-weight: 600
	width: 100%

.title
	margin-left: 0.25ch

.buttons
	text-align: right
	flex-shrink: 0
	> * + *
		margin-left: 0.5em

.edit
	width: 7ch
	background: var(--bg-2)

.delete
	width: 10ch

// The countdown bit.
span.time-left
	margin: 1em 0
	font-family: "JetBrains Mono", monospace

.date-edit
	height: 1.5em
	margin-left: -0.1ch

.danger
	background: var(--red-t)
	color: var(--white)

/* Settings and their tooltips */
#settings > label > input
	vertical-align: middle
	position: relative

	&::after
		display: none
		position: absolute
		bottom: 1em
		max-width: 48ch
		background: var(--bg-4)
		border: 2px solid var(--gr)
		padding: 0.5em
		pointer-events: none

	&:hover::after, &:active::after, &:focus::after
		display: block

input[type="range"]
	-webkit-appearance: none
	width: 50%
	height: 4px
	background: var(--bg-4)
	background-image: linear-gradient(var(--blu), var(--blu))
	background-repeat: no-repeat
	border: none

	&:hover
		background-image: linear-gradient(var(--blu-br), var(--blu-br))

	&::-webkit-slider-thumb //, &::-moz-range-thumb, &::-ms-thumb
		-webkit-appearance: none
		cursor: pointer
		height: 1em
		width: 1em
		border-radius: 50%
		background: var(--blu)

		&:hover
			border: 1px solid #fff2
			box-shadow: 0 0 4px var(--blu-br)
			background: var(--blu-br)

	&::-webkit-slider-runnable-track, &::-moz-range-track, &::-ms-track
		-webkit-appearance: none
		box-shadow: none
		border: none

input[name="update-rate"]::after
	content: "How frequently the page and all the countdowns update. Minimum 1ms, maximum 250ms."
